# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DP-ISI\ISI Factory Métho\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
